<table class='confluenceTable'>
    <tbody>
    <tr>
        <th class='confluenceTh'>&nbsp;</th>
        <th class='confluenceTh'> Democrat</th>
        <th class='confluenceTh'> Republican</th>
        <th class='confluenceTh'> Independent</th>

    </tr>
    <tr>
        <th class='confluenceTh'> Mascots</th>
        <td class='confluenceTd'>&nbsp;</td>
        <td class='confluenceTd'>&nbsp;</td>
        <td class='confluenceTd'>&nbsp;</td>
    </tr>
    </tbody>
</table>
