<table class='confluenceTable'>
    <tbody>
    <tr>
        <th class='confluenceTh'>&nbsp;</th>

        <th class='confluenceTh'> January</th>
        <th class='confluenceTh'> February</th>
        <th class='confluenceTh'> March</th>
        <th class='confluenceTh'> April</th>
    </tr>
    <tr>
        <th class='confluenceTh'> Max</th>

        <td class='confluenceTd'> 1,337.5</td>
        <td class='confluenceTd'> 1,332.7</td>
        <td class='confluenceTd'> 1,328.0</td>
        <td class='confluenceTd'> 1,345.3</td>
    </tr>
    <tr>
        <th class='confluenceTh'> Min</th>

        <td class='confluenceTd'> 1,331.3</td>
        <td class='confluenceTd'> 1,326.8</td>
        <td class='confluenceTd'> 1,325.1</td>
        <td class='confluenceTd'> 1,318.7</td>
    </tr>
    </tbody>
</table>
