<table class='confluenceTable'>
    <tbody>
    <tr>
        <th class='confluenceTh'>&nbsp;</th>

        <th class='confluenceTh'> January</th>
        <th class='confluenceTh'> February</th>
        <th class='confluenceTh'> March</th>
        <th class='confluenceTh'> April</th>
    </tr>
    <tr>
        <th class='confluenceTh'> Max</th>

        <td class='confluenceTd'> 37.5</td>
        <td class='confluenceTd'> 32.7</td>
        <td class='confluenceTd'> 28.0</td>
        <td class='confluenceTd'> 45.3</td>
    </tr>
    <tr>
        <th class='confluenceTh'> Min</th>

        <td class='confluenceTd'> 31.3</td>
        <td class='confluenceTd'> 26.8</td>
        <td class='confluenceTd'> 25.1</td>
        <td class='confluenceTd'> 18.7</td>
    </tr>
    </tbody>
</table>
