<table class='confluenceTable'>
    <tbody>
    <tr>
        <th class='confluenceTh'> Month</th>
        <th class='confluenceTh'> Max Temperature</th>
        <th class='confluenceTh'> Min Temperature</th>
        <th class='confluenceTh'> Average Temperature</th>

    </tr>
    <tr>
        <td class='confluenceTd'> January</td>
        <td class='confluenceTd'> 25.5</td>
        <td class='confluenceTd'> 6.3</td>
        <td class='confluenceTd'> 15.9</td>
    </tr>
    <tr>
        <td class='confluenceTd'> February</td>

        <td class='confluenceTd'> 32.4</td>
        <td class='confluenceTd'> 12.8</td>
        <td class='confluenceTd'> 22.6</td>
    </tr>
    <tr>
        <td class='confluenceTd'> March</td>
        <td class='confluenceTd'> 44.6</td>

        <td class='confluenceTd'> 24.5</td>
        <td class='confluenceTd'> 34.6</td>
    </tr>
    </tbody>
</table>