<table class='confluenceTable'>
    <tbody>
    <tr>
        <th class='confluenceTh'>&nbsp;</th>

        <th class='confluenceTh'> Democrat</th>
        <th class='confluenceTh'> Republican</th>
        <th class='confluenceTh'> Independent</th>
        <th class='confluenceTh'> Secret</th>
    </tr>
    <tr>
        <th class='confluenceTh'> Mascots</th>
        <td class='confluenceTd'> 40</td>

        <td class='confluenceTd'> 40</td>
        <td class='confluenceTd'> 10</td>
        <td class='confluenceTd'> 10</td>
    </tr>
    </tbody>
</table>
